:root,
.land {
	--paper: var(--abyss);
	--ink: var(--caulk);
	--stone: var(--abysmal);
	--glass: var(--ghost);
	--cloud: var(--haze);
	--smoke: var(--mint);
	--frost: var(--charcoal);
	--link: var(--marigold);
	--link-hot: var(--goldilocks);
	--link-cold: var(--lightning);
	--link-tepid: var(--daisy);
	--shade: var(--ghost);
	--glare: var(--haze);
	--flair: hsl(172, 100%, 72%);
}
