.btn {
	--font-weight: 111;
	--font-casual: 0;
	font-family: var(--font);
	border: 0.125em solid var(--cloud);
	border-radius: calc(0.5vw + 0.5vh);
	background-color: var(--glass);
	color: var(--flair);
	font-size: 1em;
	padding: 0.33em 0.67em;
	margin: 0.425rem;
	cursor: pointer;
	transition: all 367ms ease-out;
	line-height: 1.44;
}

.btn:hover,
.btn:focus {
	--font-weight: 777;
	color: var(--stone);
	background-color: var(--smoke);
}

.btn.sm {
	font-size: 0.875em;
}

.naked {
	margin: 0;
	border: 0;
	padding: 0;
	appearance: none;
}

.avatar {
	background-repeat: no-repeat;
	width: clamp(2rem, 4vw + 4vh, 4rem);
	height: clamp(2rem, 4vw + 4vh, 4rem);
	background-size: contain;
}
