.btn {
	border: 0.125em solid var(--cloud);
	border-radius: 0.25em;
	background: var(--glass);
	color: var(--ink);
	font-weight: bold;
	font-size: 1em;
	font-family: var(--sans);
	padding: 0.33em 0.67em;
	margin: 0.425rem;
}
