.flex {
	display: flex;
}

.flex.col {
	flex-direction: column;
}

.flex.col.half {
	flex: 1 0 50%;
}

.ib {
	display: inline-block;
}

.iconGallery {
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	& svg {
		margin: 2vw;
	}
}

.full.fixed {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
