@import 'vars';
@import 'themes/land';
@import 'themes/light';
@import 'themes/sea';
@import 'themes/dark';
@import 'themes/fuch';

:root {
	--font-weight: 400;
	--font-slant: 0;
	--font-casual: 1;
	--font-mono: 0;
}

* {
	box-sizing: border-box;

	/* prettier-ignore */
	font-variation-settings:
		'wght' var(--font-weight),
		'slnt' var(--font-slant),
		'CASL' var(--font-casual),
		'MONO' var(--font-mono);
}

html,
body {
	margin: 0;
}

/* begin gridlover perfect fourth scale */
html,
.root {
	font-size: clamp(16px, 1.11vw + 1.11vh, 96px);
	line-height: 1.44;
	background-color: var(--paper);
	color: var(--ink);
}

body {
	--font-weight: 333;
	font-family: var(--font);
	line-height: 1.68rem;
}

@import 'wallpaper';

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	line-height: 1.44;
	margin-top: 1em;
	margin-bottom: 0.5em;
	letter-spacing: 0.012125em;
}

h1,
.h1 {
	--font-weight: 999;
	font-size: 2.34rem;
	color: transparent;
	background-clip: text;
	background-image: linear-gradient(
		to bottom right,
		var(--ink),
		var(--flair),
		var(--link-cold)
	);
}

h2,
.h2 {
	--font-weight: 888;
	font-size: 1.61rem;
	color: transparent;
	background-image: linear-gradient(
		to bottom right,
		var(--flair),
		var(--link-hot),
		var(--link-tepid)
	);
	background-clip: text;
}

h3,
.h3 {
	--font-weight: 777;
	font-size: 1.37rem;
	color: transparent;
	background-image: linear-gradient(
		to bottom right,
		var(--flair),
		var(--ink),
		var(--smoke)
	);
	background-clip: text;
}

h4,
.h4 {
	--font-weight: 666;
	font-size: 1.25rem;
	color: transparent;
	background-clip: text;
	background-image: linear-gradient(to top left, var(--ink), var(--link));
}

h5,
.h5 {
	--font-weight: 555;
	font-size: 1.125rem;
	font-variant: small-caps;
	color: transparent;
	background-clip: text;
	background-image: linear-gradient(to top left, var(--ink), var(--link-cold));
}

p {
	--font-weight: 320;
	--font-casual: 0.7;
	--font-mono: 0.6;
}

p,
pre,
table,
blockquote {
	margin: 1em 0;
}

ul,
ol,
li,
li > p {
	margin: 0.5em 0;
}

blockquote,
blockquote p {
	--font-weight: 367;
	--font-slant: -7;
	--font-casual: 0.7;
	font-size: 107%;
	line-height: 1.68;
}

blockquote p {
	margin-top: 0;
	margin-bottom: 0;
}

@import './lists';

blockquote {
	margin-left: 0.75em;
	padding-left: 0.75em;
	border-left: 0.125em dashed;
	align-self: flex-start;
}

/* Let's make sure all's aligned */
hr,
.hr {
	border: 1px solid;
	margin: 1em auto;
	width: 80%;
	opacity: 80%;
}

hr.part {
	width: 61%;
	margin: 1em auto;
}

@media (min-width: 768px) and (min-height: 536px) {
	hr.part {
		margin-right: 0;
	}
}

em {
	--font-slant: -14;
	--font-weight: 367;
	--font-casual: 0.2;
	--font-wonk: 0;
	--font-soft: 12;
}

strong {
	--font-weight: 633;
	--font-casual: 0.8;
}

a,
b,
i,
strong,
em,
small,
code {
	line-height: 0;
}

sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* end gridlover perfect fourth scale */
@import './notes';

.contains-task-list {
	list-style-type: none;
}

.task-list-item input {
	margin-left: -20px;
}

pre {
	--font-mono: 1;
	--font-casual: 0.3;
	--font-weight: 336;
	font-size: 0.8rem;
}

.termLink pre {
	background: var(--glass);
	padding: 4vh;
	transition: 367ms;
	white-space: pre-line;
}

img {
	max-width: 100%;
	display: block;
}

.nextImageWrapper {
	text-align: center;
}

.footnotes {
	font-size: 0.8rem;
	line-height: 1.25rem;
}

textarea {
	padding: 0.5em;
	background-color: var(--stone);
	color: var(--ink);
}

/* @import 'core'; */
@import 'trees';
@import 'switches';
@import 'tables';
@import 'links';
@import 'header';
@import 'flex';
@import 'search';
@import 'btn';
@import 'clock';

input,
button,
a {
	transition: 333ms ease-out;
}
