@import 'vars';
@import 'themes/land';
@import 'themes/light';
@import 'themes/sea';
@import 'themes/dark';

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}

/* begin gridlover perfect fourth scale */
html,
.root {
	font-size: clamp(16px, 1.25vw + 1.25vh, 96px);
	line-height: 1.5;
	background-color: var(--paper);
	color: var(--ink);
}

body {
	font-family: var(--mono);
	font-variation-settings: 'wght' 333;
	line-height: 1.5rem;
}

@import 'wallpaper';

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	line-height: 1.25;
	margin-top: 1em;
	margin-bottom: 0.5em;
	letter-spacing: 0.012125em;
	font-family: var(--sans);
}

h1,
.h1 {
	font-size: 2.34rem;
	font-variation-settings: 'wght' 444;
}

h2,
.h2 {
	font-size: 1.61rem;
	font-variation-settings: 'wght' 777;
	background-image: linear-gradient(to top left, var(--ink), var(--flair));
	background-clip: text;
}

h3,
.h3 {
	font-size: 1.37rem;
	font-variation-settings: 'wght' 666;
	color: var(--stone);
}

h4,
.h4 {
	font-size: 1.25rem;
	font-variation-settings: 'wght' 555;
	color: var(--flair);
}

h5,
.h5 {
	font-size: 1.125rem;
	font-variation-settings: 'wght' 555;
	font-variant: small-caps;
	color: var(--ink);
	opacity: 0.5;
}

p,
pre,
table,
blockquote {
	margin: 1em 0;
}

ul,
ol,
li,
li > p {
	margin: 0.5em 0;
}

em {
	font-variation-settings: 'wght' 467;
}

strong {
	font-variation-settings: 'wght' 637;
}

@import './lists';

blockquote {
	margin-left: 0.75em;
	padding-left: 0.75em;
	border-left: 0.125em dashed;
	font-style: italic;
	font-weight: 500;
	font-variation-settings: 'wght' 555;
}

/* Let's make sure all's aligned */
hr,
.hr {
	border: 1px solid;
	margin: 1em auto;
	width: 80%;
	opacity: 80%;
}

hr.part {
	width: 61%;
	margin: 1em auto;
}

@media (min-width: 768px) and (min-height: 536px) {
	hr.part {
		margin-right: 0;
	}
}

a,
b,
i,
strong,
em,
small,
code {
	line-height: 0;
}

sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* end gridlover perfect fourth scale */
@import './notes';

.contains-task-list {
	list-style-type: none;
}

.task-list-item input {
	margin-left: -20px;
}

pre {
	font-size: 0.8rem;
	font-family: var(--mono);
}

img {
	max-width: 100%;
	display: block;
}

.nextImageWrapper {
	text-align: center;
}

.footnotes {
	font-size: 0.8rem;
	line-height: 1.25rem;
}

textarea {
	padding: 0.5em;
	background-color: var(--stone);
	color: var(--ink);
}

@import 'trees';
@import 'switches';
@import 'tables';
@import 'links';
@import 'header';
@import 'flex';
@import 'search';

.brobding {
	font-size: clamp(5rem, 25vw + 25vh, 100vw);
	text-align: center;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	opacity: 20%;
	pointer-events: none;
}
