.header {
	text-align: left;
	padding-left: 2vw;
	position: relative;
	background-color: var(--glass);
	border-bottom: 1px solid var(--cloud);
	height: var(--header-height);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.header h1 .icon {
	margin: 0 0.25em 0 0.5em;
	color: var(--flair);
	transform: rotate(45deg);
	display: inline-block;
}

.header h1 {
	--font-casual: 1;
	display: inline-block;
	font-size: clamp(1rem, 2vw + 2vh, 3rem);
	line-height: var(--header-height);
	transition-duration: 666ms;
	margin: 0 auto;
	outline-offset: -1px;
	outline-width: 2px;
	outline-style: dotted;
	outline-color: transparent;
	color: var(--ink);
}

.header h1 a {
	--font-weight: 999;
	display: inline-block;
	height: 100%;
	color: transparent;
	background-clip: text;
	background-image: linear-gradient(
		to bottom right,
		var(--link),
		var(--link-tepid)
	);
}

.header h1 a:hover {
	--font-weight: 111;
	--font-slant: 0;
	background-image: linear-gradient(
		to bottom right,
		var(--link-hot),
		var(--link-cold)
	);
}

.header h1 small {
	--font-weight: 222;
	display: none;
	font-size: 50%;
	opacity: 0.7;
	vertical-align: middle;
}

@media (min-width: 536px) {
	.header h1 small {
		display: inline;
	}
}

.header:hover,
.header:focus,
.header:visited:hover {
	outline-width: 4px;
	outline-offset: -2px;
	outline-color: inherit;
}

.header:hover h1,
.header:focus h1,
.header:visited:hover h1 {
	text-decoration: none;
}

.header .signin {
	float: right;
}

.avatar {
	background-size: contain;
	width: 100%;
	height: 100%;
	z-index: 2;
	position: relative;
}

.showOnHover {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 1rem;
	padding: 0.5em 0.25em 0.25em 0.5em;
	top: 0;
	left: 0;
	transition: 333ms;
	pointer-events: none;
}

.naked:hover .showOnHover,
.showOnHover:hover {
	opacity: 1;
	background-color: var(--smoke);
}
