a {
	--font-casual: 0;
	--font-weight: 321;
	--font-slant: -6;
	font-family: var(--font);
	color: var(--link);
	transition: all 111ms ease-out;
	text-decoration: none;
}

a:hover,
a:focus {
	--font-slant: 0;
	--font-weight: 654;
	color: var(--link-hot);
}

a:visited {
	color: var(--link-cold);
}

a:visited:hover,
a:visited:focus {
	color: var(--link-tepid);
}

.wikiLink:focus,
.wikiLink:hover {
	text-decoration: none;
	outline: 2px dashed;
	color: var(--link);
}

.termLink {
	display: block;
	cursor: pointer;
}

.termLink:hover pre,
.termLink:focus pre {
	/* opacity: 0.5; */
	color: var(--link);
}
