@import './vars.css';

code[class*='language-'],
pre[class*='language-'] {
	--font-mono: 0.8;
	--font-casual: 0;
	color: #ff8b39;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #262335;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #262335;
}

@media print {
	code[class*='language-'],
	pre[class*='language-'] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*='language-'] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	color: white;
	background: #262335;
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment {
	color: #848bbd;
	font-style: italic;
}

.token.string {
	color: #848bbd;
	font-style: italic;
}

.token.punctuation {
	color: #ff8b39;
}

.token.variable {
	color: #ff7edb;
}

.token.property {
	color: #ff7edb;
}

.token.constant {
	color: #f97e72;
}

.token.regex {
	color: #f97e72;
}

.token.number {
	color: #f97e72;
}

.token.builtin {
	color: #f97e72;
}

.token.char {
	color: #36f9f6;
}

.token.function {
	color: #36f9f6;
}

.token.tag {
	color: #72f1b8;
}

.token.attr-name {
	color: #fede5d;
}

.token.keyword {
	color: #fede5d;
}

.token.operator {
	color: #fede5d;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}
