.searchContainer {
	position: absolute;
	top: 0.5vh;
	right: 1.25vw;
	z-index: 2;
}

@media (min-width: 536px) {
	.searchContainer {
		right: 0.75vw;
		top: 0.75vh;
	}
}

@media (min-height: 536px) and (min-width: 536px) {
	.searchContainer {
		top: 1.5vh;
		right: 1vw;
	}
}

.search {
	width: 10rem;
	margin: 0 3.25em 0.125em 0;
	padding: 0.33em 0.67em;
	font-size: 1em;
	max-width: 43vw;
	border: 1px solid var(--glass);
	border-radius: var(--bevel);
	background: var(--stone);
	color: var(--ink);
	transition: 333ms ease-out;
}

.search:hover,
.search:focus-visible,
.search:focus {
	outline-color: var(--flair);
	border-color: var(--flair);
}

.results {
	list-style: none;
	overflow-y: auto;
	margin: 0.33em 0 0;
	padding: 0;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 100vh;
	background: var(--glass);
}

.result {
	background: var(--paper);
	color: var(--ink);
}

.result:hover,
.result:focus {
	background: var(--stone);
	color: var(--flair);
}

.result a {
	display: block;
	padding: 0.67em;
	margin: 0 0 0.33em;
	line-height: 1.33;
	color: var(--link);
}

::placeholder {
	color: var(--smoke);
}
