.themeSwitch {
	font-size: clamp(2rem, 3vw + 3vh, 4rem);
	border-radius: 100%;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
}

.themeSwitch:focus {
	outline: none;
}

.loading-rack {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	height: calc(100vh - clamp(3rem, 3vw + 3vh, 5rem));
}

.buoy {
	position: fixed;
	z-index: 5;
}

.buoy.b {
	bottom: clamp(1.5rem, 1vw + 1vh, 3rem);
}

.buoy.l {
	left: 2vw;
}

.buoy.r {
	right: 2vw;
}

.buoy.btn {
	background: var(--ink);
	color: var(--stone);
	border-color: var(--glass);
}

.buoy.btn:hover,
.buoy.btn:focus {
	background: var(--flair);
	color: var(--stone);
}
