.tree.home {
	line-height: 1.125;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.tree.home ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin: 2vh auto;
	padding: 0;
}

ul.top {
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
}

@media (min-width: 768px) and (min-height: 536px) {
	ul.top {
		flex-direction: row;
		max-height: unset;
	}
}

@media (min-width: 768px) and (min-height: 536px) {
	.tree.home ul {
		flex-flow: row wrap;
	}
}

.tree.side ul {
	margin: 0.5em 0 1em;
}

.tree.side a + ul {
	margin-top: 0.25em;
}

.tree.home a + ul {
	margin-top: 0.5em;
}

.tree.side h3 {
	display: none;
}

.tree.home li {
	flex: 1 0 auto;
	margin: 0.375em 0;
}

.tree.home .primary {
	font-size: clamp(1.5rem, 2.25vw + 2.25vh, 2.25rem);
	text-align: center;
	font-family: var(--sans);
	padding: 4vh 2vw 2vh;
	margin: 2vh;
	background: var(--glass);
	border-radius: 2vh;
	max-width: 90vw;
}

.tree.home .primary.trans {
	padding-top: 2vh;
}

@media (min-width: 768px) and (min-height: 536px) {
	.tree.home .primary {
		max-width: 38vw;
	}
}

.tree.home .secondary {
	font-size: clamp(1rem, 1.75vw + 1.75vh, 1.75rem);
	text-align: center;
	font-family: var(--heading);
	padding: 1vh 1vw;
}

.tree.home .primary.trans {
	flex-flow: row wrap;
}

@media (min-width: 536px) {
	.tree.home .ducklings {
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
		margin-top: 1.25em;
	}
}

.tree.home .primary + .primary {
	margin-left: 0.5em;
}

@media (min-height: 536px) and (min-width: 536px) {
	.tree.home .secondary:first-of-type {
		margin-top: 0.5em;
	}
}

.tree.home .tertiary {
	text-align: center;
	font-size: clamp(0.875rem, 1.5vw + 1.5vh, 1.5rem);
}

.tree.side .primary,
.tree.side .secondary {
	line-height: 1.25rem;
	margin-bottom: 0.25rem;
}

.tree.side + h4 {
	margin-top: -0.25rem;
}

.tree.side .second {
	display: none;
}

.tree.side .primary {
	font-size: clamp(1rem, 1.5vw + 1.5vh, 1.5rem);
}

.tree.side .secondary {
	font-size: clamp(0.875rem, 1.25vw + 1.25vh, 1.25rem);
}

.tree.side .tertiary {
	font-size: clamp(0.75rem, 1vw + 1vh, 1rem);
	display: none;
}

.tree.home li a {
	padding: 0.125em 0.5em 0.25em;
}

.tree.home li a:hover,
.tree.home li a:focus {
	outline: 3px dashed;
	text-decoration: none;
}

.tree.home .second {
	max-width: calc(100vw - 4rem);
}

.icon {
	vertical-align: -0.1625em;

	&.before {
		margin-right: 0.3em;
	}

	&.after {
		margin-left: 0.3em;
	}

	&.flipX {
		transform: scaleX(-1);
	}

	&.flipY {
		transform: scaleY(-1);
	}

	&.flipXY {
		transform: scaleX(-1) scaleY(-1);
	}

	&.spinning {
		animation: spin 750ms infinite linear;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
